@model TallerMVC.Models.RepuestoOT

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RepuestoOT</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idRepuestoOT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idRepuestoOT)
            @Html.ValidationMessageFor(model => model.idRepuestoOT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idOrdenDeTrabajo, "OrdenDeTrabajo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idOrdenDeTrabajo", String.Empty)
            @Html.ValidationMessageFor(model => model.idOrdenDeTrabajo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idRepuesto, "Repuesto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idRepuesto", String.Empty)
            @Html.ValidationMessageFor(model => model.idRepuesto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cantidadDeRepuesto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantidadDeRepuesto)
            @Html.ValidationMessageFor(model => model.cantidadDeRepuesto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cantidadHorasTrabajo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantidadHorasTrabajo)
            @Html.ValidationMessageFor(model => model.cantidadHorasTrabajo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
